/* body, .container, #navibar, #naviheader, and the long thing */
/*     are all going to repeat on every .css file for now */ 
/* ------------------------------------------------------------------------------------------ */

body {
  background: #d4d8d5;
}

.container {
  padding-top: 11vw;
  padding-bottom: 5vw;
  margin: 0 auto;
}

#navibar {
  border-bottom: 0.5vw solid white;
}

#naviheader {
  color: white; 
  font-size: 3vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

::-webkit-input-placeholder { 
  font-size: 1.2vw;
}

:-moz-placeholder { 
  font-size: 1.2vw;  
}

::-moz-placeholder { 
  font-size: 1.2vw;  
}

:-ms-input-placeholder { 
  font-size: 1.2vw;
}

::-ms-input-placeholder { 
  font-size: 1.2vw;
}

label {
  font-size: 1.4vw;
}

/* ------------------------------------------------------------------------------------------ */