body {
  background: #d4d8d5;
}

.container {
  padding-top: 11vw;
  margin: 0 auto;
}

.logincontainer {
  margin: 0 auto;
  padding: 4vw;
  text-align: center;
  background-color: white;
  border: 0.3vw solid gray;
  border-radius: 3vw;
  width: 50vw;
}

.logincontainer > h2 {
  font-size: 4vw;
}

.logincontainer p {
  font-size: 1vw;
}

.logincontainer a {
  font-size: 1.5vw;
}

.username, .password {
  padding: 1vw 1vw 0vw 1vw;
}

#loginbtn {
  width: 5vw;
  height: 3vw;
  font-size: 1.2vw;
  text-align: center;
  padding: 0;
}
#formfield {
  width: 22vw;
}

#sun {
  text-decoration: underline;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 1.2vw;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 1.2vw;  
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 1.2vw;  
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1.2vw;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 1.2vw;
}

#navibar {
  border-bottom: 0.5vw solid white;
}

#naviheader {
  color: white; 
  font-size: 3vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#loginbtn {
  margin: 1vw 0.5vw 1vw 1vw;
}