body {
  background: #d4d8d5;
}

.container {
  padding-top: 7rem;
  margin-bottom: 3rem;  
}

#navibar {
  border-bottom: 0.5vw solid white;
}

#naviheader {
  color: white; 
}

.form_background {
  margin: 0 auto;
  padding: 4vw;
  background-color: white;
  border: 0.3vw solid gray;
  border-radius: 3vw;
}