body {
  background: #d4d8d5;
}

.container {
  padding-top: 5rem;
  margin-bottom: 3rem;  
}

#navibar {
  border-bottom: 0.5vw solid white;
}

#naviheader {
  color: white; 
}

.jumbo {
  background-color: white;
  margin: 0 auto;
}

.gamestatstextlg {
  font-size: 3rem;
}

.gamestatstextmd {
  font-size: 2rem;
}

.gamestatsbar {
  display: inline;
}